.bg-image{
    background: transparent url('images/path.png') 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    /* height: 2000px; */
    background-size: contain;
    background-position: center center;
    position:relative;
  } 
.outter{
    font: normal normal bold 10px Raleway;
    letter-spacing: 0px;
    color: #1C1A1A;
    background-color: #F6F6F6;
    opacity: 1;
    text-align: center;
    /* top: 528px;
    left: 405px;
    width: 1098px;
    height: 3887px;
    background: transparent url('images/Path 1179.png') 0% 0% no-repeat padding-box;
    border: 5px dashed #CC3939;
    opacity: 0.16; */
}
.name{
    /* margin-top: 3px; */
    /* top: 73px; */
    /* left: 140px; */
    /* width: 321px; */
    height: 47px;
    padding-top: 10px;
    padding-left: 3.5px;
    /* padding-bottom: 4px; */
    /* text-align: left; */
    font: normal normal bold 20px Raleway;
    letter-spacing: 0px;
    color: #1C1A1A;
    opacity: 1;
}
.nav_element{
    padding-left: 0px !important;;
    padding-right: 0px !important;;
    margin-right: 0 !important;;
    margin-left: 0 !important;;
    top: 73px;
    left: 1059px;
    /* width: 224px; */
    height: 47px;
    font: normal normal bold 21px Raleway;
    letter-spacing: 0px;
    color: #1C1A1A;
    opacity: 1;
}
.nav-item{
    padding-left: 10px !important;;
    padding-right: 10px !important;;
    margin-right: 0 !important;;
    margin-left: 0px !important;;
}
.div1{
    border-top: 1px solid #EFEBEB;
    border-bottom: 1px solid #EFEBEB;
    height: 385px; 
}
.div2{
    border-top: 1px solid #EFEBEB;
    border-bottom: 1px solid #EFEBEB;
    height: 480px; 
}
.ccc{
    padding: 0px;
    padding-top: 36px;
    padding-left: 25px;
}
.text1
{
    top: 0px;
    left: 0px;
    padding-left: 25px;
    /* width: 356px; */
    /* height: 135px; */
    text-align: left;
    font: normal normal 600 46px Poppins;
    letter-spacing: 0px;
    color: #434242 
}
.text2{
    top: 0px;
    left: 0px;
    padding-left: 25px;
    /* width: 356px; */
    /* height: 135px; */
    text-align: left;
    font: normal normal 600 33px Poppins;
    letter-spacing: 0px;
    color: #434242 
}
.text3{
    padding-top: 33px;
    padding-left: 25px;
    text-align: left;
    font: normal normal 600 38px Poppins;
    letter-spacing: 0px;
    color: #CC3939;
    opacity: 1;
}
.one{
    padding-left: 25px;
    text-align: left;
    font: normal normal 300 30px Merriweather;
    letter-spacing: 0px;
    color: #060606;
    opacity: 1;
}
.two{
    
    padding-left: 25px;
    text-align: left;
    font: normal normal 300 24px Merriweather;
    letter-spacing: 0px;
    color: #060606;
    opacity: 1;
}
.text1t{
    top: 0px;
    left: 356px;
    width: 378px;
    height: 135px;
    text-align: left;
    font: normal normal 600 46px Poppins;
    letter-spacing: 0px;
    color: #CC3939;
}
.imageone{
    /* top: 302px;
    /* left: 1320px; */
    width: 80px;
    height: 90px; 
    /* transform: matrix(-0.68, -0.73, 0.73, -0.68, 0, 0); */
    /* background: transparent url('images/ss.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}
.butt1{
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    /* font: normal normal medium 40px/60px Poppins; */
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-align: left;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 38px;
}
.butts{
    width: 150px;
    height: 39px;
    background: #474545 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    margin: 5px;
}
.insidebutts{
    text-align: left;
    font: normal normal normal 12px/21px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}